.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 15px auto;
    width: auto padding: 8px;
    background-color: #0B0829;
    border-radius: 8px;
    padding: 15px;

}

.search-bar input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.search-bar button:hover {
    background-color: #0058b6;
}